@media only screen and (min-width: 1025px) {
    .content-elemts {
        padding-top: 123px;
    }
    
    .cabecera {
        position: absolute;
        display: flex;
        float: left;
    }
    
    .div-text {
        position: absolute;
        float: left;
        margin-top: 170px;
        word-spacing: 5px;
        font-size: 23px;
    }
    
    footer {
        padding-top: 2px;
    }
}