@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .content-elemts {
        width: 70%;
        margin: auto;
        overflow: auto;
    }
    
    .data-izq {
        float: left;
        width: 50%;
        text-align-last: left;
    }
    
    .data-der {
        max-width: 40%;
        float: right;
    }
    
    h2 {
        text-align: left;
        margin-bottom: 5px;
    }
    
    p:not(.parraf-foter) {
        text-align: left;
    }
    
    .parraf-display {
        float: left;
    }
    
    footer {
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 150px;
    }
    
    .form-class {
        float: none;
        clear: right;
    }
}